Fact Checking / Bullshit Detector

Themes
- Politics!
- Snopes


As a research topic
- exciting and fun
- easy to explain
- corporate application isn't obvious
- little obvious academic work

Political Fact Checking, automated transcript analysis - Hassan 2015

Subset of knowledge base population, which includes information extraction steps - Olivieri 2016

Rating plugins allow users to rate sites

http://www.poynter.org/2016/whats-does-the-future-of-automated-fact-checking-look-like/404937/ - Greenblatt 2016

Products: 
- RumorLens
- FactMinder
- Watson Angles
- Claim Buster
- Full Fact

http://www.poynter.org/2016/report-automated-fact-checking-is-coming-and-soon/426370/

Tangentially related paper added mike 2017-01-27
https://arxiv.org/abs/1701.03017

Kaggle-like competition added mike 2017-02-01
https://medium.com/@deanpomerleau_24908/time-to-challenge-fake-news-with-ai-7036a1f22c0d#.wb08p0kst
